/* Global Styles */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* Groups Selector */
#header {
  margin-top: 100px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
